* {
    margin: 0;
    padding: 0;
}

.menubar ul {
    list-style: none;
}

.menubar ul li a {
    text-decoration: none;
}

ul.dropdown {
    position: relative;
    margin: 0;
    padding: 0;
}

ul.dropdown li {
    font-weight: bold;
    float: left;
    zoom: 1; white-space: nowrap
}

ul.dropdown a:hover {
    color: #60585c;
}

ul.dropdown a:active {
    color: #60585c;
}

ul.dropdown li a {
    display: block;
    padding: 10px 6px;
    color: #60585c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-right: 1px solid #d9dbdd;
    text-transform: uppercase;
}

ul.dropdown li:last-child a {
    border-right: none;
}

/* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover {
    background: #e4e4e4;
    color: #60585c;
    position: relative;
}

ul.dropdown li.hover a {
    color: #60585c;
}

ul.dropdown li ul li {
    background-color: #e2e2e2
}

ul.dropdown li ul li:hover {
    background: #FFFFFF;
    color: #60585c;
    position: relative;
}

/* 
	LEVEL TWO
*/
ul.dropdown ul {
    width: 230px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
}

ul.dropdown ul li {
    font-weight: normal;
    background: #f6f6f6;
    color: #000;
    border-bottom: 1px solid #ccc;
    float: none;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
    border-right: none;
    width: 100%;
    display: inline-block;
    text-align: left;
    text-transform: none;
}

/* 
	LEVEL THREE
*/
ul.dropdown ul ul {
    left: 100%;
    top: 0;
    z-index: 10000;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}
#headerTop {
    margin: auto;
    height: 130px;
    width: 980px;
}

.logoTop {
    margin: auto;
    height: 130px;
    width: 980px;
}

#header {
    width: 980px;
    margin: auto;
    float: left;
    position: absolute;
}

.menubaner {
    padding: 6px;
    margin: 0px;
    padding-bottom: 7px;
    float: right;
    background-color: #007f49;
    width: 460px;
}

.menubaner ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    text-align: left;
}

div.sub-menu {
    padding: 0px;
    margin: 0px;
    float: right;
}

div.sub-menu ul {
    color: white;
    font-weight: bold ;
}

div.sub-menu ul li {
    float: left ;
}

div.sub-menu ul li a {
    color: #e6eae8;
    text-decoration: none;
    padding-right: 15px;
}

div.sub-menu ul li a:hover {
    color: #FFFFFF;
}
