.header{
	padding: 0px;
	position: relative;

}	
.search{
	
    float: right;
    
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 2%;
    padding-bottom: 1%;
}
.navbar{
	
	width: 100%;

    }
.main{
	position: absolute;
}